.link-container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .link-container1 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px; /* Optional: Add padding for better spacing */
    position: relative;
  }
  .link-container1 a:last-child {
    color: red; /* Change the color to red for the first link */
}

  
  .link-container a:after {
    content: "";
    display: block;
    border-bottom: 2px solid #333;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .link-container a:hover:after {
    transform: scaleX(1);
  }
  